<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moc do 2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontello/css/fontello-embedded.css">
    <script defer src="animation.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" alt="logo">
        </div>
        <nav>
            <div class="nav-item">Strona główna</div>
            <div class="nav-item">Aktualności</div>
            <div class="nav-item">Terapie</div>
            <div class="nav-item">Kontakt</div>
            <div class="nav-item">Wesprzyj nas</div>
        </nav>
    </header>
    <%- body %> 
    <footer>
    </footer>
</body>
</html>