/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html
{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: var(--font-title-family);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header
{
    background-color: var(--main-color);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 30;
}

header img
{
    width: 120px;
}

nav
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item
{
    width: 100px;
    height: 40px;
    background-color: transparent;
    font-size: var(--button-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
    padding: 0 10px;
}

.nav-item a
{
    color: white;
    text-decoration: none;
}

.nav-item:hover
{
    background-color: var(--hover);
    cursor: pointer;
}

.bg
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -111;
    background: url(img/tlo.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
    letter-spacing: 1px;
}

.introduce
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-container
{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.intro-container img
{
    width: 400px;
}

.quote
{
    font-size: 32px;
    font-weight: 500;
    font-style: italic;
    width: 500px;
    text-align: center;
}

.quote-author
{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
}

.btn-learn-more
{
    position: absolute;
    top: 150%;
    left: 50%;
    width: 150px;
    height: 50px;
    background-color: var(--button-bg);
    color: white;
    transform: translateX(-50%);
    font-size: var(--button-font-size);
    transition: .1s;
}

.btn-learn-more a
{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-learn-more:hover
{
    background-color: var(--hover-btn);
    cursor: pointer;
}

.about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.about-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}

.about h1
{
    font-size: var(--title-section-font-size);
    font-weight: 500;
    width: 200px;
    text-align: center;
    border-bottom: 3px solid #999600;
    border-radius: 1px;
    margin: 0 0 25px 0;
    color: var(--text-color);
}

.about p 
{
    width: 1000px;
    font-size: var(--text-font-size);
    text-align: center;
    color: var(--text-color);
    font-family: var(--font-text-family);
}

.news
{
    background-color: var(--bg-color-article);
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.news h1
{
    font-size: var(--title-section-font-size);
    font-weight: 500;
    width: 300px;
    text-align: center;
    border-bottom: 3px solid #999600;
    border-radius: 1px;
    margin: 25px 0 25px 0;
}

.news-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}

.posts
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post
{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.post-info
{
    width: 800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post img
{
    width: 350px;
    border-radius: 10px;
}

.post h2
{
    font-size: var(--title-post-font-size);
    letter-spacing: 1px;
    font-weight: 500;
    align-self: flex-start;
}

.post p
{
    height: max-content;
    text-align: justify;
    font-family: var(--font-text-family);
    line-height: 20px;
    margin: 10px 0 10px 0;
}

.post a 
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: var(--button-font-size);
    width: 100px;
    height: 40px;
    background-color: var(--button-bg);
    color: white;
    transition: .1s;
}

.post a:hover
{
    background-color: var(--hover-btn);
}

.therapy
{
    display: flex;
    justify-content: center;
}

.therapy h1
{
    font-size: var(--title-section-font-size);
    font-weight: 500;
    width: 425px;
    text-align: center;
    border-bottom: 3px solid #999600;
    border-radius: 1px;
    margin: 25px 0 25px 0;
    color: var(--text-color);
}

.therapy-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}

.therapy-types
{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
}

.therapy-type
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    position: relative;
}

.therapy-btn
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.therapy-btn:hover
{
    background-color: #efefef;
    cursor: pointer;
}

.therapy-btn img
{
    width: 100%;
}

.therapy-info
{
    width: 100%;
    height: 400px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.therapy-info h2
{
    font-size: var(--title-category-font-size);
    font-weight: 500;
    letter-spacing: 1px;
}

.therapy-info p 
{
    width: 220px;
    height: 150px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
    display: flex;
    align-items: flex-end;
    font-size: 15px;
}

.therapy-link
{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%) translateY(-90%);
    color: white;
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color: var(--button-bg);
    font-size: var(--button-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.therapy-link:hover
{
    background-color: var(--hover-btn);
}

.team
{
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-article);
    padding-bottom: 50px;
}

.team h1
{
    font-size: var(--title-section-font-size);
    font-weight: 500;
    text-align: center;
    border-bottom: 3px solid #999600;
    border-radius: 1px;
    margin: 25px 0 25px 0;
    padding: 0 25px;
}

.team-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
}

.team-persons
{
    display: flex;
    justify-content: center;
}

.person
{
    width: 300px;
    border-radius: 10px;
    position: relative;
    margin: 0 10px;
}

.person h2
{
    text-align: center;
    font-weight: 500;
    font-size: var(--title-person-font-size);
    letter-spacing: 1px;
    border-bottom: 3px solid #999600;
    width: fit-content;
    padding: 0 10px;
    margin-bottom: 10px;
}

.person p 
{
    text-align: center;
    font-family: var(--font-text-family);
    width: 95%;
}

.person img
{
    width: 100%;
    border-radius: 10px;
}

.person-info
{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    color: white;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person:hover > .person-info
{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: display 0.5s forwards;
    cursor: pointer;
}

.contact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.contact-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.contact h1
{
    font-size: var(--title-section-font-size);
    font-weight: 500;
    text-align: center;
    border-bottom: 3px solid #999600;
    border-radius: 1px;
    margin: 25px 0 25px 0;
    padding: 7px 25px;
}

.contact h2
{
    text-align: center;
    font-weight: 500;
    font-size: var(--subtitle-contact);
}

.contact h3
{
    font-family: var(--font-text-family);
    font-size: var(--subtitles-icon-size);
}

.contact p 
{
    text-align: center;
    width: 250px;
    font-family: var(--font-text-family);
    margin: 5px 0 10px 0;
}

.contact-types
{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.contact-type
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-type .icon-mail, .contact-type .icon-phone
{
    font-size: var(--icon-size);
}

#input-msg
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
    position: relative;
}

#email-input, #phone-input
{
    border: 1px solid #808080;
    outline: none;
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.1s;
}

#email-input:focus, #phone-input:focus, #text-input:focus
{
    border: 1px solid rgb(54, 54, 255);
}

#text-input
{
    padding: 5px 10px;
    outline: none;
    resize: none;
    width: 440px;
    height: 90px;
    margin-top: 5px;
    border-radius: 5px;
    font-family: var(--font-text-family);
    font-size: 14px;
}

#text-input:hover
{
    border: 1px solid #808080;
}

#text-input:hover:focus
{
    border: 1px solid rgb(54, 54, 255);
}

.counter
{
    font-family: var(--font-text-family);
    position: absolute;
    top: 78%;
    left: 92%;
    transform: translateY(-78%);
    color: gray;
    font-size: 10px;
}

.send-btn
{
    margin-top: 5px;
    padding: 5px 15px;
    border: 1px solid #808080;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s;
}

.send-btn:hover
{
    background-color: lightgray;
}

.failedInfo, .succesInfo
{
    width: 500px;
    height: 40px;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    position: relative;
}

.failedInfo
{
    border: 3px solid rgb(202, 8, 8);
}

.succesInfo
{
    border: 3px solid rgb(21, 189, 21);
}

.exit-btn
{
    position: absolute;
    top: 2px;
    right: 0;
    font-size: var(--icon-size-pop);
    cursor: pointer;
}

footer
{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

footer img
{
    width: 250px;
    margin-left: 50px;
}

footer h1
{
    font-size: var(--font-size-footer-list);
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 10px;
}

footer ul > li 
{
    text-align: center;
    width: 100px;
    margin: 0 25px;
    line-height: 25px;
}

footer ul > li:first-child
{
    margin-top: 10px;
}

footer ul > li a
{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-text-footer);
}

.sections
{
    display: flex;
}

.copyright
{
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    margin-right: 50px;
}

.error-box
{
    margin-top: 40px;
    height: 95.9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-box h1 
{
    font-size: 120px;
    font-family: var(--font-text-family);
    opacity: 1;
    text-align: center;
}

.error-box p 
{
    font-size: 40px;
    font-family: var(--font-text-family);
    text-align: center;
}

.menu
{
    display: none;
    margin-right: 15px;
    color: white;
    font-size: 25px;
}

.open
{
    visibility: visible;
    opacity: 1;
}

.move-up
{
    animation: moveUp 0.5s forwards;
}

.move-out
{
    animation: moveOut 0.5s forwards;
}

.smooth-section
{
    animation: smooth-section 1s forwards;
}

.display
{
    animation: display 0.5s forwards;
}

.undisplay
{
    animation: undisplay 0.2s forwards;
}

.undisplay-pop-up
{
    display: none;
}

@keyframes moveUp {
    0%{width: 150px; height: 150px; top: 50%; left: 50%; transform: translate(-50%, -50%);}
    100%{width: 50px; height: 50px; top: 4%; left: 50%; transform: translateY(4%) translateX(-50%);}
}

@keyframes moveOut {
    0%{width: 50px; height: 50px; top: 4%; left: 50%; transform: translateY(4%) translateX(-50%);}
    100%{width: 150px; height: 150px; top: 50%; left: 50%; transform: translate(-50%, -50%);}
}

@keyframes display {
    0%{visibility: hidden; opacity: 0;}
    100%{visibility: visible; opacity: 1;}
}

@keyframes undisplay {
    0%{visibility: visible; opacity: 1;}
    100%{visibility: hidden; opacity: 0;}
}

@keyframes display-nav{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0);}
}

@keyframes smooth-section {
    0%{transform: translateY(100%); visibility: hidden; opacity: 0;}
    100%{transform: translateY(0); visibility: visible; opacity: 1;}
}

:root
{
    --main-color: rgba(153, 99, 0, 0.9);
    --main-color-without-transparency: #996300;
    --hover: #995900;
    --hover-btn: #5a4300;
    --button-bg: #6B5400;
    --button-bg-transparency: rgba(107, 84, 0, 0.9);
    --button-font-size: 14px;
    --title-section-font-size: 48px;
    --text-font-size: 24px;
    --bg-color-article: #eee;
    --text-color: #996300;
    --title-post-font-size: 40px;
    --font-text-family: 'Lato', sans-serif;
    --font-title-family: 'Playfair Display', serif;
    --title-category-font-size: 20px;
    --title-person-font-size: 40px;
    --subtitle-contact: 25px;
    --icon-size: 40px;
    --subtitles-icon-size: 20px;
    --font-size-footer-list: 20px;
    --font-size-text-footer: 15px;
    --icon-size-pop: 18px;
}

@media screen and (max-width: 1180px) {
    .post
    {
        flex-direction: column;
    }

    .post img 
    {
        width: 600px;
    }

    .post h2
    {
        align-self: center;
    }
}

@media screen and (max-width: 1010px) {
    .about p 
    {
        width: 800px;
    }

    .therapy-types
    {
        width: 800px;
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .therapy-type
    {
        flex-shrink: 0;
        margin: 0 10px;
    }

    .team-persons
    {
        width: 800px;
        justify-content: flex-start;
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    .person
    {
        flex-shrink: 0;
    }
    
    footer 
    {
        flex-direction: column;
        align-items: center;
    }

    footer img 
    {
        margin-left: 0;
    }
    
    .copyright
    {
        margin-right: 0;
        margin-top: 40px;
        width: fit-content;
    }

    .sections
    {
        width: 600px;
        justify-content: space-evenly;
    }

    header
    {
        justify-content: space-between;
    }

    header img 
    {
        margin-left: 50px;
    }
}

@media screen and (max-width: 840px) {
    .about p 
    {
        width: 600px;
    }

    .about
    {
        height: fit-content;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    .post p 
    {
        width: 600px;
        text-align: center;
    }

    .post-info
    {
        width: fit-content;
    }

    .therapy-types
    {
        width: 640px;
    }

    .team-persons
    {
        width: 640px;
    }

    nav 
    {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: 0;
        flex-direction: column;
        width: 100%;
    }

    .nav-item
    {
        width: 100%;
        border-bottom: 1px dashed #5a4300;
        transform: translateX(100%);
    }

    .nav-item:hover
    {
        background-color: var(--hover-btn);
    }

    .nav-item:last-child
    {
        border-bottom: 0;
    }

    .menu
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-nav
    {
        background-color: var(--button-bg-transparency);
    }
}

@media screen and (max-width: 650px) {
    .therapy-types
    {
        width: 320px;
    }

    .team-persons
    {
        width: 320px;
    }

    .post p 
    {
        width: 400px;
        text-align: center;
    }

    .post img 
    {
        width: 400px;
    }

    .about p 
    {
        width: 400px;
    }

    .sections
    {
        width: fit-content;
    }

    .intro-container
    {
        width: 400px;
    }

    .intro-container img
    {
        width: 350px;
    }

    .quote
    {
        font-size: 28px;        
        width: 400px;
    }

    .quote-author
    {
        font-size: 16px;
        margin-top: 10px;
    }

    .contact h1 
    {
        width: 350px;
    }

    .contact-types
    {
        margin-top: 25px;
        width: 400px;
    }

    .contact-type
    {
        margin: 0 5px;
    }

    .contact p 
    {
        width: 190px;
    }

    #text-input
    {
        width: 380px;
    }

    #input-msg
    {
        width: 400px;
    }

    #email-input
    {
        width: 170px;
    }

    #phone-input
    {
        width: 170px;
    }

    footer ul > li 
    {
        margin: 0 10px;
    }

    .therapy h1
    {
        width: 400px;
    }

    .succesInfo, .failedInfo
    {
        width: 260px;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {

    .contact-types
    {
        justify-content: center;
    }

    #input-msg
    {
        width: 300px;
    }

    #email-input
    {
        width: 220px;
    }

    #phone-input
    {
        width: 220px;
        margin-top: 5px;
    }

    #text-input
    {
        width: 280px;
    }

    .contact p 
    {
        width: 150px;
        text-align: center;
        margin-bottom: 15px;
    }

    .contact h1 
    {
        width: 250px;
    }

    .contact-types
    {
        width: 320px;
    }

    .therapy h1
    {
        width: 300px;
    }

    .post p 
    {
        width: 300px;
        word-wrap: break-word;
        word-break: break-all;
        text-align: justify;
    }

    .post img 
    {
        width: 300px;
    }

    .about p 
    {
        width: 300px;
    }
    .intro-container
    {
        width: 400px;
    }

    .intro-container img
    {
        width: 300px;
    }

    .quote
    {
        font-size: 21px;        
        width: 300px;
    }

    .quote-author
    {
        font-size: 14px;
        margin-top: 10px;
    }

    .sections
    {
        flex-wrap: wrap;
        max-width: 400px;
        justify-content: center;
    }

    .links
    {
        margin-top: 10px;
    }

    :root
    {
        --title-section-font-size: 36px;
        --subtitle-contact: 22px;
    }
}